<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Pizza</title>
</head>
<body class="p-2 text-center" th:object="${pizza}">
	<a class="nav-link active text-danger text-center pb-5" th:href="@{/pizze}">Torna alle nostre pizze!</a>
	<h1>[[ *{nome} ]]</h1>
	<h3>[[ *{descrizione} ]]</h3>
	<h4>[[ *{prezzo} ]] €</h4>
	<img style="height: 100px;" th:alt="*{nome}" th:src="*{foto}">
</body>
</html> 